extends layout.pug

block content
    include nav-bar.pug
    div(class='answer-container')
        form(action=`/questions/${questionId}/answer` method="post" class="q-a-forms")
            input(type="hidden" name="_csrf" value=csrfToken)
            h1 #{title}
            label(for="message") Answer:
            textarea(name="message" value=message required)
            label(for="answerImg1") img url:
            input(type="text" name="answerImg1" value=answerImg1)
            label(for="answerImg2") img url:
            input(type="text" name="answerImg2" value=answerImg2)
            label(for="answerImg3") img url:
            input(type="text" name="answerImg3" value=answerImg3)
            button(type="submit" class="orange__button") Post Answer
            div(class="cancel-edit grey__button")
                    a(href=`/questions`) Cancel
