extends layout.pug

block content
    body
        include nav-bar.pug
        div(class="question__two__background")
        div(class="individual__question__container")
            div(class="title-profile")
                h4= question.User.userName
                if question.User.profileUrl
                    img(src=question.User.profileUrl, alt="")
                if locals.authenticated
                    if userId === question.User.id
                        div(class="buttons__individual__question")
                            a(class="edit__delete__buttons grey__button" href=`/questions/${question.id}/edit`) Edit
                            a(class="edit__delete__buttons orange__button" href=`/questions/${question.id}/delete`) Delete
            div(class="question__body")
                h2(class="question__title")=question.title
                div(class='question__message')
                    p=question.message
                div(class='images__container')
                    img(src=`${question.questionImg1}`)
                    img(src=`${question.questionImg2}`)
                    img(src=`${question.questionImg3}`)
            div
            if locals.authenticated
                if userId !== question.userId
                    div(class="answer-a-question orange-button")
                        a(href=`/questions/${question.id}/answer`) Answer a Question
        div(class="Q_A__image_BG")
        div(class="answers__container")
            if answers
                each answer in question.Answers
                    div(class='answer-box' id=`answer-container-${answer.id}`)
                        div(class="user__info")
                            if answer.User.profileUrl
                                img(src=answer.User.profileUrl, alt="profile picture")
                            else
                                img(src="/images/Logo.svg", alt="default pic")
                            h4=answer.User.userName
                            if locals.authenticated
                                if userId === answer.userId
                                    div(class="answer-profile-pic")
                                    div(class="user__name")
                                    div(class="edit__answer orange-button")
                                        a(href=`/questions/answers/${answer.id}/edit`) Edit
                                    div(class="delete__answer" id=`delete-${answer.id}`) Delete
                                    div(class="votes")
                                        p(class="inactive__upvotes") Upvote
                                        p(class="counts" id=`count-${answer.id}`)=answer.Upvotes.length-answer.Downvotes.length
                                        p(class="inactive__downvotes") Downvote
                                else
                                    div
                                        div
                                            form(action=`/questions/answer/${answer.id}/upVotes` method="post")
                                                button(type="submit" class="active__upvotes" id=`up-${answer.id}`) Upvote
                                        div
                                            p(class="counts" id=`count-${answer.id}`)=answer.Upvotes.length-answer.Downvotes.length
                                        div
                                            form(action=`/questions/answer/${answer.id}/downVotes` method="post")
                                                button(type="submit" class="active__downvotes" id=`down-${answer.id}`) Downvote
                            else
                                div(class="votes")
                                    p(class="inactive__upvotes") Upvote
                                    p(class="counts" id=`count-${answer.id}`)=answer.Upvotes.length-answer.Downvotes.length
                                    p(class="inactive__downvotes") Downvote
                        div(class='answer__message')
                            p=answer.message
                    div(class='images-container')
                        img(src=`${answer.answerImg1}`)
                        img(src=`${answer.answerImg2}`)
                        img(src=`${answer.answerImg3}`)
                    div(class="delete__modal")
                        h1 Are you sure you want to Delete?
                            div.error-container
                                if errors
                                    ul
                                        each error in errors
                                            li(class="error")= error
                            form(action=`/questions/answers/${answer.id}/delete`, method="post")
                                    button(type="submit" class="delete__answer__confirm") Yes
                                    div(class='delete__answer__cancel')  Cancel
    script(src="/javascripts/votes.js" type='module')
    script(src="/javascripts/delete-answer-modal.js" type='module')
