extends layout.pug

block content
    body
        include nav-bar.pug
        div(class="individual__question__background")
            img(src="/images/StuckOverflow_Questions2_BG.svg", alt="Question Image 2")
        div(class='question__answer__list__container')
            div(class="individual__question__container")
                div(class="title-profile")
                    if question.User.profileUrl
                        img(src=question.User.profileUrl, alt="profile-img")
                    else
                        img(src='/images/defaultprofile.png')
                    div(class='question-user-info')
                        h6= question.User.userName
                        h6= `Joined on`
                        h6= question.User.createdAt.toString().split(' ').slice(0,4).join(' ')
                    if locals.authenticated
                        if userId === question.User.id
                            div(class="buttons__individual__question")
                                a(class="edit__delete__buttons grey__button" href=`/questions/${question.id}/edit`) Edit
                                a(class="edit__delete__buttons orange__button" href=`/questions/${question.id}/delete`) Delete
                div(class="question__body")
                    h2(class="question__title")=`${question.title}`
                    div
                        if locals.authenticated
                            if userId !== question.userId
                                div(class="answer-a-question orange__button")
                                    a(href=`/questions/${question.id}/answer`) Answer Question
                    div(class='question__message')
                        p=question.message
                    div(class='images__container')
                        img(src=`${question.questionImg1}`)
                        img(src=`${question.questionImg2}`)
                        img(src=`${question.questionImg3}`)
            //- div(class="Q_A__image_BG")
            //- div(class="answers__background")
            //- img(src="/images/StuckOverflow_Answers_BG.svg", alt="Answers Image")
            div(class="answers__container")
                if answers
                    h1(class='num-answers')=`${answers.length}`
                        //- h2= `${answers.length}
                    each answer in question.Answers
                        div(class='answer__box' id=`answer-container-${answer.id}`)
                            div(class="user__info")
                                if answer.User.profileUrl
                                    img(src=answer.User.profileUrl, alt="profile picture")
                                else
                                    img(src="/images/Logo.svg", alt="default pic")
                                h6=answer.User.userName
                                h6=`Joined on`
                                h6= answer.User.createdAt.toString().split(' ').slice(0,4).join(' ')
                                if locals.authenticated
                                    if userId === answer.userId
                                        div(class="answer-profile-pic")
                                        div(class="user__name")
                                        div(class="votes")
                                            h6(class="inactive__upvotes") Answer Rating:
                                            h6(class="counts" id=`count-${answer.id}`)=answer.Upvotes.length-answer.Downvotes.length
                                        div(class='edit__delete__container')
                                            div(class="edit__answer orange__button")
                                                a(href=`/questions/answers/${answer.id}/edit`) Edit
                                            div(class="delete__answer grey__button" id=`delete-${answer.id}`) Delete
                                        div(class="delete__modal")
                                            div(class="modal__container")
                                                h3 Delete your answer?
                                                    div(class="delete__answer__box")
                                                        form(action=`/questions/answers/${answer.id}/delete`, method="post")
                                                            button(type="submit" class="delete__answer__confirm orange__button") Yes
                                                            div(class='delete__answer__cancel grey__button')  Cancel
                                    else
                                        div(class="votes__container")
                                            div
                                                form(action=`/questions/answer/${answer.id}/upVotes` method="post")
                                                    //- button(type="submit" class="active__upvotes" id=`up-${answer.id}`)=`🔺`
                                                    button(type="submit" class="active__upvotes" id=`up-${answer.id}`)
                                            div
                                                p(class="counts" id=`count-${answer.id}`)=answer.Upvotes.length-answer.Downvotes.length
                                            div
                                                form(action=`/questions/answer/${answer.id}/downVotes` method="post")
                                                    //- button(type="submit" class="active__downvotes" id=`down-${answer.id}`)=`🔻`
                                                    button(type="submit" class="active__downvotes" id=`down-${answer.id}`)
                                else
                                    div(class="votes")
                                        h6(class="inactive__upvotes") Answer Rating:
                                        h6(class="counts" id=`count-${answer.id}`)=answer.Upvotes.length-answer.Downvotes.length
                            div(class='answer__message')
                                //- h2 Answer:
                                p=answer.message
                                div(class="images__container")
                                    img(src=`${answer.answerImg1}`)
                                    img(src=`${answer.answerImg2}`)
                                    img(src=`${answer.answerImg3}`)

    script(src="/javascripts/votes.js" type='module')
    script(src="/javascripts/delete-answer-modal.js" type='module')
