extends layout.pug

block content
    include nav-bar.pug
    div(class='profile__container')
        div(class='profile__color__detail')
            div(class='user__profile')
                div(class="user__picture")
                    if user.profileUrl
                        img(src=`${user.profileUrl}`, alt="profile pic")
                        h4=user.userName
                    else
                        img(src="/images/defaultprofile.png", alt="alec")
                        h4=user.userName
                div(class='user__info__box')
                    h4=`First Name: ${user.firstName}`
                    h4=`Last Name: ${user.lastName}`
                    h4=`Contact: ${user.email}`
            div(class='user__questions')
                if user.Questions
                    div(class='profile__questions__background')
                    div
                        each question in user.Questions
                            li(class="profile__li")
                                a(href=`/questions/${question.id}`)=question.title
            div(class='user__answers')
                if user.Answers
                    div(class='profile__answers__background')
                    div
                        each answer in user.Answers
                            li(class="profile__li")
                                a(href=`/questions/${answer.Question.id}`)=answer.Question.title
    include footer.pug
