extends layout.pug

block content
    include nav-bar.pug
    div(class="edit-question-container")
        form(action=`/questions/${question.id}/edit` method="post" class="q-a-forms")
            input(type="hidden" name="_csrf" value=csrfToken)
            label(for="title")= title
            input(type="text" name="title" value=question.title)
            label(for="message") Question body
            textarea(name="message")=question.message
            label(for="questionImg1") img url:
            input(type="text" name="questionImg1" value=question.questionImg1)
            label(for="questionImg2") img url:
            input(type="text" name="questionImg2" value=question.questionImg2)
            label(for="questionImg3") img url:
            input(type="text" name="questionImg3" value=question.questionImg3)
            div(class="ask__cancel")
                    button(type="submit" class="ask__question__button orange__button") Save changes
                    div(class="cancel__edit grey__button")
                        a(href=`/questions`) Cancel
    include footer.pug
