extends layout.pug

block content
    div(class="ask-button")
        form(action="/questions/ask" method="get")
            button(type="submit") Ask a Question
    each question in questions
        div
            a(class='question-title-db-mp' href=`/questions/${question.id}`)= question.title
            div= question.message
            div= `Username: ${question.User.userName}`
            div= `Number of Answers for Question ${question.id}: ${question.Answers.length}`
