extends layout.pug

block content
    form(action=`/questions/${question.id}/edit` method="post")
        input(type="hidden" name="_csrf" value=csrfToken)
        label(for="title")= question.title
        input(type="text" name="title" value=question.title)
        label(for="message") Question body
        input(type="text" name="message" value=question.message)
        label(for="questionImg1") img url:
        input(type="text" name="questionImg1" value=question.questionImg1)
        label(for="questionImg2") img url:
        input(type="text" name="questionImg2" value=question.questionImg2)
        label(for="questionImg3") img url:
        input(type="text" name="questionImg3" value=question.questionImg3)
        button(type="submit" class="edit-question") Edit Question
        div(class="cancel-edit")
            a(href=`/questions/${question.id}`) Cancel
