extends layout.pug

block content
    div(class='questions-header')
        h1 QUESTIONS
        if locals.authenticated
            div(class='ask')
                form(action="/questions/ask" method="get")
                    button(type="submit" class="ask-button") Ask a Question
        else
            div(class='ask' role='button')
                div(class='ask-public') Ask a Question         
    div(class='question-list-body')
        each question in questions
            div(class="question-container")
                h6(class= 'answer-total')= `Answers: ${question.Answers.length}`
                div(class='question-content')
                    a(href=`/questions/${question.id}` class='question-title')= question.title
                    h6=`posted on ${question.createdAt.toString().split(' ').slice(0,5).join(' ')}`
                    p= question.message
                div(class='question-list-user')
                    if question.User.profileUrl
                        img(src=`${question.User.profileUrl}`, alt="profile pic")
                    else 
                        img(src="/images/Logo.svg", alt="profile pic")    
                    h4(class="user-name")= question.User.userName
    div(class="question-login-container")                
        div(class="question-login")
            h4 Please Log in
            div.error-container
              if errors
                  ul
                      each error in errors
                          li(class="error")= error
            form(action="/", method="post" class="login-form-fields")
              input(type="hidden" name="_csrf" value=csrfToken)
              label(for="userName") Username
              input(type="text" name="userName" value=userName)
              label(for="password") Password
              input(type="password" name="password")
              button(type="submit" class="orange-button") Login
            div(class="close grey-button") Cancel 
    script(src="/javascripts/modal.js")             